body{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
}

h1{
    font-size: 2em;
    margin-bottom: 1em;
}

h2{
    font-size: 1.5em;
    padding-top: 1em;
    border-top: 1px solid rgb(232, 244, 249);
}

form{
    background-color: rgb(233, 239, 245);
    border: 2px solid #ddd;
    padding: 20px;
}

label, input, button{
    display: block;
    margin-bottom: 20px;
}

input{
    width: 100%;
}

button, input{
    font-size: 1em;
    padding: 5px;
}

button{
    cursor: pointer;
    background-color: cornflowerblue;
    color: whitesmoke;
}

button:hover{
    background-color: lightgray;
    color: black;
}

